# Java
*.class
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml
workspace.xml

# Build
target/
bin/

# Uploads
uploads/

# Eclipse
*.orig
.project
.settings/
.classpath
.factorypath

# VSCode
.vscode/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# VM crash logs
hs_err_pid*
